@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (-webkit-touch-callout: none) {
  .ios-no-fixed {
    background-attachment: scroll !important;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 10px solid #ffffff; /* màu xanh lá */
  animation: typing 3s steps(30, end);
}

/* đổi màu selection */
@layer base {
  ::selection {
    @apply bg-[#56a15a] text-white;
  }
}
